<div>
  <v-app>
    <v-content>
      <v-container>
        <v-toolbar>
          <v-toolbar-title>Messages</v-toolbar-title>
          <v-spacer/>
          <v-btn @click="clear" solo>Clear</v-btn>
          <v-spacer/>
          <v-text-field solo v-model="filter_txt" type="filter" placeholder="User handle..." />
          <v-spacer/>
          <v-text-field solo v-model="search_txt" type="search" placeholder="search..." />
        </v-toolbar>

        <v-layout
          justify-space-between
          pa-3
          >
          <v-flex xs5>
            <v-treeview
              ref="msgtree"
              :active.sync="active"
              :open="open"
              :items="items"
              active-class="selected-msg"
              class="grey lighten-5"
              :load-children="load_children"
              transition
              activatable
              >
              <template v-slot:prepend="{ item, open }">
                {{ item.num_children }}
                <v-icon v-if="item.error">
                    warning
                </v-icon>
              </template>

              <template v-slot:append="{ item, open }">
                {{item.duration}}ms
              </template>
            </v-treeview>
          </v-flex>
          <v-flex
            d-flex
            >
              <v-card
                v-if="selected"
                :key="selected.id"
                class="pt-4 mx-auto"
                flat
                max-width="50vw"
                max-height="96vh"
                style="overflow:scroll;position:sticky;top:0px;margin-bottom:1vh;border-top:1vh solid black;;border-bottom:1vh solid black"
                >
                <v-card-text>
                  <h3 class="headline mb-2">{{ selected.name }}</h3>
                  <vue-json-pretty
                    :deep="3"
                    :data="selected.data.msg"
                    >
                  </vue-json-pretty>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-text>
                  <h4 class="headline mb-2">result</h4>

                  <div v-if="selected.data.result_length">Result size {{selected.data.result_length}} (not sent for performance)</div>
                  <vue-json-pretty
                    :deep="3"
                    :data="selected.data.res || selected.data.err"
                    >
                  </vue-json-pretty>
                </v-card-text>

                <v-divider></v-divider>
                <v-card-text>
                  <h4 class="headline mb-2">meta</h4>

                  <vue-json-pretty
                    :deep="3"
                    :data="selected.data.meta"
                    >
                  </vue-json-pretty>
                </v-card-text>

              </v-card>

          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
